/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/results/

public/images/

public/bukti_scan/

public/template/~\$mplate_p0\.docx

public/template/~\$mplate_p1_v2\.docx
